<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <style>
        #div1 {
            width: 300px;
            height: 160px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border-radius: 10px;
        }

        #a1 {
            text-decoration: none;
        }
    </style>
</head>

<body class="wode" style=" background-repeat:no-repeat ; background-size:100% 100%; background-attachment: fixed;">
<div>
    <div id="div1" style="text-align:center;">
        <from name="f1" method="get" action="">
            <h3>登录界面</h3>
            用户名：<input type="text" id="username" value="" class="input"><br/>
            密&#12288码：<input type="password" id="password" value="" class="input"><br/>
            <div id="div2">&nbsp;</div>
            <input type="button" value="按钮"
                   onclick="javascrtpt:window.location.href='http://localhost:63342/demo1/templates/user.html?_ijt=gq3gafo7orp77q68sl69p290ht'"/>

        </from>
    </div>
</div>
</body>
<script>

</script>
</html>
